@{
	ViewData["Title"] = "Attach image";
}

@model NBD_ASP_Projekt.Models.Models.Computers

<h1>Dodaj obrazek</h1>

<p>Nazwa komputera</p>
@Html.DisplayFor(model =>model.Name)
<p>Zdjęcie</p>
<form asp-action="AttachImage" enctype="multipart/form-data">
	<div class="form-group">
		<input type="file" name="uploadedFile" id="uploadedFile" />
	</div>
	<div class="form-group">
		<input type="submit" value="Dodaj zdjęcie" class="btn btn-primary" />
	</div>
	<img src="~/Home/GetImage/@Model.ImageId" asp-append-version="true">
</form>