@{
    ViewData["Title"] = "Attach image";
}

@model NBD_ASP_Projekt.Models.Models.Computers

<h1>Dodaj obrazek</h1>

<span>Nazwa komputera</span>
@Html.DisplayFor(model =>model.Name)
<span>Zdjęcie</span>